@import "tailwindcss";

@plugin "daisyui" {
  themes: corporate --default;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

@plugin "daisyui/theme" {
  name: "corporate";
  default: true;
  --color-primary: red;
  --color-secondary: teal;
  --menu-active-fg: red;
}

html, body { height: 100%; }
* { box-sizing: border-box; }